/* --- Estilos para react-modal (AppointmentDetailModal.tsx e AppointmentModal.tsx) --- */
.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open{
    opacity: 1;
}

.ReactModal__Overlay--before-close{
    opacity: 0;
}

.modal-overlay-agenda {
    z-index: 1000; /* Garante que o modal esteja acima de tudo */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75); /* Fundo escuro */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-agenda {
    outline: none; /* Remove a borda de foco padrão */
    position: relative; /* Permite posicionar o botão de fechar */
    max-height: 90vh; /* Aumenta um pouco a altura máxima do modal */
    overflow-y: auto; /* Adiciona scroll se o conteúdo for muito grande */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    padding: 20px;
    max-width: 90%; /* Limita a largura máxima para responsividade */
    width: 500px; /* Largura padrão */
}

/* Ajustes para telas muito pequenas */
@media (max-width: 480px) {
    .modal-content-agenda {
        padding: 15px;
        max-width: 95%;
    }
}